<div class="container">
  <form [formGroup]="registerForm$" (submit)="register()">
    <img
      src="../../../assets/images/logo.png"
      width="100px"
      height="100px"
      alt="logo"
    />
    <h1>Register</h1>
    <mat-form-field class="name-form" [appearance]="'outline'">
      <mat-label>fullname</mat-label>
      <mat-icon matPrefix>person</mat-icon>
      <input type="text" matInput formControlName="name" />
      <mat-error *ngIf="registerForm$.get('name')?.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="phone-form" appearance="outline">
      <mat-label>Phone</mat-label>
      <mat-icon matPrefix>phone</mat-icon>
      <input type="tel" matInput formControlName="phone" />
      <mat-hint>Format: 11 digits (e.g. 09123456789)</mat-hint>

      <mat-error *ngIf="registerForm$.get('phone')?.hasError('required')">
        Phone number is required
      </mat-error>
      <mat-error *ngIf="registerForm$.get('phone')?.hasError('pattern')">
        Phone number must be exactly 11 digits
      </mat-error>
    </mat-form-field>

    <mat-form-field class="username-form" [appearance]="'outline'">
      <mat-label>email</mat-label>
      <mat-icon matPrefix>email</mat-icon>

      <input type="email" matInput formControlName="email" />

      @if (registerForm$.get('email')?.hasError('required')) {
      <mat-error>Please enter a valid email</mat-error>
      } @if (registerForm$.get('email')?.hasError('email')) {
      <mat-error>Invalid email</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="password-form" appearance="outline">
      <mat-label>password</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input
        matInput
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password"
      />

      @if (registerForm$.get('password')?.hasError('required')) {
      <mat-error>Password is required</mat-error>
      }
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      [disabled]="registerForm$.invalid"
      style="padding: 12px; height: 48px; width: 100%; border-radius: 2rem"
    >
      Register
    </button>

    <button
      mat-button
      style="padding: 12px; height: 48px; width: 100%"
      [routerLink]="['/auth/login']"
    >
      Login
    </button>
  </form>
</div>
